<div class="form-group row " style="padding:20px;">
  <div class="col-7 offset-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
    <h3 class="text-center" style="color: #dc3d26;">新規投稿</h3>
  </div>
</div>

<div class="col-12">
  <%= form_with model: post, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: post %>  

      <div class="form-group row border-bottom">
        <div class="col-4">
        タイトル
        </div>
        <div class="col-8" style="margin-bottom: 10px;">
          <%= f.text_area :title, required: true, maxlength: 50 %></br>
          <small>50文字まで</small>
        </div>
      </div>

      <div class="form-group row border-bottom">
        <div class="col-4">
          本文
        </div>
        <div class="col-8" style="margin-bottom: 10px;">
          <%= f.text_area :body, required: true, class: "w-100", maxlength: 500 %>
          <small>500文字まで</small>
        </div>
      </div>

      <div class="form-group row border-bottom">
      <div class="col-4">
        タグ
      </div>
      <div class="col-8" style="margin-bottom: 10px;">
        <%= f.text_field :tag_list, value: post.tags.map(&:name).join(", "), class: "w-100" %>
        <small>全角のカンマかスペース、＃で区切ってください</small>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-4">
      画像
      </div>
      <div class="col-8" style="margin-bottom: 10px;">
         <%= f.file_field :post_images, multiple: true, direct_upload: true, id: "post_images", accept: "image/jpeg,image/png,image/gif" %></br>
        <small>1MB以下で合計8枚まで</small>
      </div>
    </div>


    <div class="form-group row border-bottom">
      <div class="col-4">
        評価
      </div>
      <div class="col-8" style="margin-bottom: 10px;">
      <% if post.id.nil? %>
        <div class="form-group" id="star">
          <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
          <div id="post_raty"></div>
        </div>
          <script>
            
              var elem = document.querySelector('#post_raty');
            

              elem.innerHTML = ""
              var  opt = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                scoreName: 'post[star]',
                };
                raty(elem, opt);
     
          </script>
      <% else %>
        <div class="form-group">
          <%= render "static.rate", post: post %>
        </div>
      <% end %> 
      </div>
    </div>

      <%= f.hidden_field :playground_id, value: @playground.id %>
      <%= f.hidden_field :is_displayed, value: "true" %>

    <div class="actions">
      <%= f.submit "この遊び場に新規投稿" %>
      <div>
        <small>投稿の編集はできません。</small>
        <small>再投稿されたい場合は、削除後新たに投稿をお願いします。</small>
      </div>
    </div>
  <% end %>
</div>