<div class="form-group row" style="padding:20px;">
 <div class="offset-md-3 col-md-6 offset-md-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
    <h2 class="text-center" style="color: #dc3d26;">最新の全投稿一覧</h2>
  </div>
</div>

<table class="table table-striped tbl-r04">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>本文</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.post_images.attached? %>
            <%= image_tag post.post_images.first.variant(resize_to_limit: [100, 100]), class: "thumbnail popup" %>
          <% end %>
        </td>
        <td>
          <%= link_to post.title, post_path(post), class: 'playground-link' %>
        </td>
        <td>
          <%= truncate(post.body, length: 50) %>
        </td>
        <td><%= render "public/posts/static_rate", post: post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts,class: "text-center" %>
