<div class="row min-vh-100">
  <div class="col-7 mt-3">
    <div class="post-images mt-3">
      <% if @post.post_images.attached? %>
        <% @post.post_images.each do |image| %>
          <%= image_tag image, class: "post-image", size: "200x150" %>
        <% end %>
      <% else %>
        <p>画像がありません</p>
      <% end %>
    </div>
    <div>
      <p><strong>タイトル:</strong> <%= @post.title %></p>
      <p><strong>本文:</strong> <%= @post.body %></p>
      <p>
        <strong>タグ:</strong> 
        <% @post.tags.each_with_index do |tag, index| %>
          <%= link_to tag.name, tag_path(tag) %><%= ", " unless index == @post.tags.size - 1 %>
        <% end %>
      </p>
      <p><strong>遊び場:</strong> <%= link_to @post.playground.name, playground_path(@post.playground) %></p>
      <p>
      <p><strong>投稿者:</strong> <%= link_to @post.user.nickname, user_path(@post.user) %></p>
      <p><strong>評価:</strong><%= render "public/posts/static_rate", post: @post %></p>
      <% if user_signed_in? %>
        <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
      <% end %>
      <%= link_to '遊び場に戻る', playground_path(@post.playground), class: 'btn btn-secondary' %>
    </div>
  </div>

  <div class="col-5 mt-3">
  <%= render 'public/shared/flash' %>
    <div class="flex">
      <h4>コメント<div style="font-size: 14px;"><%= @post.post_comments.count %>件</div></h4>
    </div>
    <% @post.post_comments.each do |post_comment| %>
      <div class="row comment">
        <p><strong><%= link_to post_comment.user.nickname, user_path(post_comment.user) %></strong>: <%= post_comment.comment %></p>
        <% if post_comment.user == current_user %>
          <%= link_to '削除', post_post_comment_path(@post, post_comment), method: :delete, data: { confirm: 'コメントを削除してもよろしいですか？' }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with(model: [@post, @post.post_comments.build], local: true) do |form| %>
        <div class="form-group">
          <%= form.text_area :comment, class: "form-control" %>
        </div>
        <%= form.submit "コメントを投稿", class: "btn btn-primary mt-2" %>
      <% end %>
    <% else %>
      <p>コメントするにはログインが必要です。</p>
    <% end %>
  </div>
</div>
