<h2><%= @search_word %>の検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "ユーザー" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_avatar_image(50, 50), alt: user.nickname, class: "avatar-image" %>
          </td>
          <td>
          <%= link_to user.nickname, user_path(user) %>
          </td>
        </tr>
      <% end %>
    </tbody>

  <% elsif @range == "遊び場" %>
    <tbody>
      <% @playgrounds.each do |playground| %>
        <tr>
          <td>
            <% if playground.playground_images.attached? %>
              <%= image_tag playground.playground_images.first.variant(resize_to_limit: [50, 50]), class: "thumbnail" %>
            <% end %>
          </td>
          <td><%= link_to playground.name, playground_path(playground) %></td>
          <td><%= playground.description %></td>
          <td><%= playground.address %></td>
        </tr>
      <% end %>
    </tbody>

  <% elsif @range == "投稿" %>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <% if post.images.attached? %>
              <%= image_tag post.images.first.variant(resize_to_limit: [50, 50]), class: "thumbnail" %>
            <% end %>
          </td>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>

  <% elsif @range == "タグ" %>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= link_to tag.name, tag_playgrounds_path(tag) %></td>
        </tr>
      <% end %>
    </tbody>

  <% elsif @range == "コメント" %>
    <tbody>
      <% @post_comments.each do |comment| %>
        <tr>
          <td><%= link_to comment.comment, post_path(comment.post) %></td>
          <td><%= link_to comment.nickname, user_path(comment.user) %></td> 
          <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></td> 
        </tr>
      <% end %>
    </tbody>

  <% else %>
    <tbody>
      <h1>検索結果はありません</h1>
    </tbody>
  <% end %>
</table>