<div class="form-group row" style="padding:20px;">
  <div class="offset-md-3 col-md-6 offset-md-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
    <h2 class="text-center" style="color: #dc3d26;"><%= @playground.name %>の編集</h2>
  </div>
</div>
<%= render 'public/shared/flash' %>

<div class="row justify-content-center min-vh-100">
  <%= form_with model: @playground, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: @playground %>

    <div class="row">
      <!-- 左側のカラム -->
      <div class="col-md-6">
        <div class="form-group row border-bottom">
          <div class="col-5 d-flex align-items-center">
            <span>遊び場名</span>
            <span class="ml-2" style="font-size: 0.8rem; gray;">50文字まで</span>
          </div>
          <div class="col-7" style="margin-bottom: 10px;">
            <%= f.text_field :name, required: true, class: "w-100", maxlength: 50 %>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <div class="col-5 d-flex align-items-center">
            <span>説明</span>
            <span class="ml-2" style="font-size: 0.8rem; gray;">500文字まで</span>
          </div>
          <div class="col-7" style="margin-bottom: 10px;">
            <%= f.text_area :description, required: true, class: "w-100", maxlength: 500 %>
          </div>
        </div>

        <div class="form-group row border-bottom">
            <div class="col-2 d-flex align-items-center">
              <span>タグ</span>
            </div>
            <div class="col-3 d-flex align-items-center">
              <span class="ml-2" style="font-size: 0.8rem; gray;">全角のカンマかスペース、＃で区切ってください</span>
            </div>
            <div class="col-7" style="margin-bottom: 10px;">
            <%= f.text_field :tag_list, value: @playground.tags.map(&:name).join(", "), placeholder: "タグをカンマかスペースで区切って入力", class: "w-100" %>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <div class="col-5">
            郵便番号
          </div>
          <div class="col-7" style="margin-bottom: 10px;">
            <%= f.text_field :post_code, required: true, class: "w-100", maxlength: 7, pattern: "\\d{7}", title: "7文字の数字を入力してください" %>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <div class="col-5">
            住所
          </div>
          <div class="col-7" style="margin-bottom: 10px;">
            <%= f.text_area :address, required: true, class: "w-100" %>
          </div>
        </div>

        <div class="form-group row border-bottom">
          <div class="col-5">
            電話番号
          </div>
          <div class="col-7" style="margin-bottom: 10px;">
            <%= f.text_field :phone_number, required: true, class: "w-100", pattern: "\\d{10,11}", maxlength: 11, title: "ハイフンなしの10～11文字の数字を入力してください" %>
          </div>
        </div>

        <div class="form-group row border-bottom justify-content-center">
          <div class="mr-5">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "営業" %>
          </div>
          <div>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "閉業" %>
          </div>
        </div>
      </div>

      <!-- 右側のカラム -->
      <div class="col-md-6">
        <div class="field">
          <%= f.label :playground_images, "画像の追加・編集" %>
          <<%= f.file_field :playground_images, multiple: true, direct_upload: true, id: "playground_images" %>
        <p>1枚1MB以下合計8枚まで</p>
          <p>※ 既存の画像は以下に表示されます。削除する場合は画像を選択して削除を実行してください。</p>
          <div class="playground-images">
            <% @playground.playground_images.each do |image| %>
              <div class="image-preview">
                <%= image_tag image.variant(resize_to_limit: [100, 100]), class: "playground-image popup" %>
                <%= link_to '削除', remove_image_playground_path(@playground, image_id: image.id), method: :delete, data: { confirm: 'この画像を削除しますか？' } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- 送信ボタンを下中央に配置 -->
    <div class="row justify-content-center mt-4">
      <div class="col-auto">
        <%= f.submit "更新する", class: "btn btn-primary" %>
        <%= link_to 'キャンセル', playground_path(@playground), class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>