  <div class="form-group row" style="padding:20px;">
    <div class="offset-md-3 col-md-6 offset-md-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
      <h2 class="text-center" style="color: #dc3d26;">遊び場の一覧</h2>
    </div>
  </div>

  <div class="mb-3">
    <%= link_to "新しい遊び場の登録" ,new_playground_path, class:"btn btn-lg btn-primary", data: {turbolinks: "false"} %>
  </div>


  <div class="wrap">
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">地図</a></li>
      <li><a href="#tab2" class="">遊び場一覧</a></li>
    </ul>
    <div id="tab-contents">
      <div id="tab1" class="tab"> 
       <div id="map"></div>
      </div>

      <div id="tab2" class="tab">
        <table class="table table-striped tbl-r04">
          <thead>
            <tr>
              <th></th>
              <th>遊び場名</th>
              <th>説明</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @playgrounds_page.each do |playground| %>
              <tr>
                <td>
                  <% if playground.playground_images.attached? %>
                    <%= image_tag playground.playground_images.first.variant(resize_to_limit: [100, 100]), class: "thumbnail popup" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to playground.name, playground_path(playground), class: 'playground-link' %>
                </td>
                <td><%= truncate(playground.description, length: 10) %></td>
                <td>
                  <% if playground.is_active == true %>
                    <div class="text-success font-weight-bolder">営業</div>
                  <% else %>
                    <div class="text-muted font-weight-bolder">閉業</div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @playgrounds_page,class: "text-center" %>
      </div>
    </div>
  </div>

  <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'tab_menu', 'data-turbolinks-track': 'reload' %>