  <div class="form-group row" style="padding:20px;">
    <div class="col-6 offset-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
      <h2 class="text-center" style="color: #dc3d26;">遊び場の一覧</h2>
    </div>
  </div>

  <div class="mb-3">
    <%= link_to "新しい遊び場の登録" ,new_playground_path, class:"btn btn-lg btn-primary", data: {turbolinks: "false"} %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>遊び場名</th>
        <th>説明</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @playgrounds.each do |playground| %>
        <tr>
          <td>
            <% if playground.playground_images.attached? %>
              <%= image_tag playground.playground_images.first.variant(resize_to_limit: [100, 100]), class: "thumbnail" %>
            <% end %>
          </td>
          <td>
            <%= link_to playground.name, playground_path(playground), class: 'playground-link' %>
          </td>
          <td><%= truncate(playground.description, length: 10) %></td>
          <td>
            <% if playground.is_active == true %>
              <div class="text-success font-weight-bolder">営業</div>
            <% else %>
              <div class="text-muted font-weight-bolder">閉業</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

 <%= paginate @playgrounds,class: "text-center" %>
  <div id="map"></div>
  <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>