<div class="form-group row" style="padding:20px;">
  <div class="offset-md-3 col-md-6 offset-md-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
    <h2 class="text-center" style="color: #dc3d26;">新しい遊び場登録</h2>
  </div>
</div>
<%= render 'public/shared/flash' %>

<div class="px-5">
  <%= form_with model: @playground do |f| %>
    <%= render "public/shared/error_messages", resource: @playground %>

    <div class="form-group row border-bottom">
      <div class="col-5 d-flex align-items-center">
        <span>遊び場名</span>
        <span class="ml-2" style="font-size: 0.8rem; gray;">50文字まで</span>
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.text_field :name, required: true, class: "w-100", maxlength: 50 %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5 d-flex align-items-center">
        <span>説明</span>
        <span class="ml-2" style="font-size: 0.8rem; gray;">500文字まで</span>
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.text_area :description, required: true, class: "w-100", maxlength: 500 %>
      </div>
    </div>
  
    
    <div class="form-group row border-bottom">
      <div class="col-5 d-flex align-items-center">
        <span>タグ</span>
        <span class="ml-2" style="font-size: 0.8rem; gray;">全角のカンマかスペース、＃で区切ってください</span>
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.text_field :tag_list, value: @playground.tags.map(&:name).join(", "), placeholder: "全角のカンマかスペース、＃で区切ってください", class: "w-100" %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5 d-flex align-items-center">
        <span>画像</span>
        <span class="ml-2" style="font-size: 0.8rem; gray;">1枚1Mサイズ以下合計8枚まで</span>
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.file_field :playground_images, multiple: true, direct_upload: true, id: "playground_images", accept: "image/jpeg,image/png,image/gif" %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5">
        郵便番号
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.text_field :post_code, required: true, class: "w-100", maxlength: 7, pattern: "\\d{7}", title: "7文字の数字を入力してください" %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5">
        住所
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.text_area :address, required: true, class: "w-100" %>
      </div>
    </div>
    
    <div class="form-group row border-bottom">
      <div class="col-5 d-flex align-items-center">
        <span>電話番号</span>
        <span class="ml-2" style="font-size: 0.8rem; gray;">ハイフンなしの10～11文</span>
      </div>
      <div class="col-7" style="margin-bottom: 10px;">
        <%= f.text_field :phone_number, required: true, class: "w-100", pattern: "\\d{10,11}", maxlength: 11, title: "ハイフンなしの10～11文字の数字を入力してください" %>
      </div>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :is_active, value: "true" %>

    <div class="row" style="padding-bottom:20px;">
      <div class="col-12 text-center">
        <%= f.submit "遊び場登録", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag "playground_images",  'data-turbolinks-track': 'reload' %>