<div class="form-group row" style="padding:20px;">
  <div class="col-6 offset-3" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
    <h2 class="text-center" style="color: #dc3d26;">新規会員登録</h2>
  </div>
</div>
<%= flash[:notice] %>

<div class="px-5">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group row border-bottom">
      <div class="col-5">
        メールアドレス
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.email_field :email, required: true, placeholder: "sample@example.com", class: "w-100" %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5">
        ニックネーム<span style="font-size: 0.8em; color: gray;">&nbsp;20文字まで</span>
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.text_field :nickname, required: true, class: "w-100" %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5">
       アバター画像<span style="font-size: 0.8em; color: gray;">&nbsp;画像サイズは1MB以下のものを指定してください</span>
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.file_field :avatar_image %>
      </div>
    </div>


    <div class="form-group row border-bottom">
      <div class="col-5">
        自己紹介<span style="font-size: 0.8em; color: gray;">&nbsp;300文字まで</span>
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.text_field :introduction, class: "w-100" %>
      </div>
    </div>
    
    <div class="form-group row border-bottom">
      <div class="col-5">
        電話番号<span style="font-size: 0.8em; color: gray;">&nbsp;ハイフンなしの10～11文字</span>
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.text_field :phone_number, required: true, class: "w-100" %>
      </div>
    </div>

    <div class="form-group row border-bottom">
      <div class="col-5">
        パスワード
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上)
        <% end %>
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.password_field :password, required: true, class: "w-100" %>
      </div>
    </div>

    
    <div class="form-group row">
      <div class="col-5">
        パスワード(確認用)
      </div>
      <div class="col-7" style="margin-bottom: 15px;">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100" %>
      </div>
    </div>

    <div class="row" style="padding-bottom:20px;">
      <div class="col-12 text-center">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-4 offset-4" style="border-radius: 30px; background-color: #5ce0e5; padding-top:5px;">
    <h5 class="text-center"  style="color: #dc3d26;">既に登録済の方<h5>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <%= render "public/shared/links" %>からログインを行ってください。
  </div>
</div>

