<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #5ce0e5;">
    <h1><%= link_to image_tag("asobinote_logo.png", alt: "Title Logo", size: "300x100"), "/" %></h1>
    <% if user_signed_in? %>
      ようこそ、<%= current_user.nickname %>さん！
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!--ユーザーがログインしている時 -->
          <li>
            <%= link_to "使い方", about_path, class: "btn btn-custom" %>
          </li>
          <li class="ml-3">
            <%= link_to "マイページ", mypage_path, class: "btn btn-custom" %>
          </li>
          <li class="ml-3">
            <%= link_to "遊び場一覧", playgrounds_path, class: "btn btn-custom" %>
          </li>
          <li class="ml-3">
            <%= link_to "新しい遊び場登録", new_playground_path, class: "btn btn-custom" %>
          </li>
          <li class="ml-3">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-custom" %></li>
          </li>

        <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-custom" %>
          </li>
          <li class="ml-3">
            <%= link_to "遊び場一覧", admin_playgrounds_path, class: "btn btn-custom" %>
            <!--customer一覧用パス入力-->
          </li>
          <liclass="ml-3" >
            <%= link_to "投稿一覧" , admin_posts_path, class: "btn btn-custom" %>
            <!--order履歴一覧用パス入力-->
          </li>
          <li class="ml-3">
            <%= link_to "タグ一覧", admin_tags_path, class: "btn btn-custom" %>
            <!--genre一覧-->
          </li>
          <li class="ml-3">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-custom" %>
          </li>

        <% else %>
          <!-- ログインしていない時 -->
          <li>
            <%= link_to "使い方", about_path, class: "btn btn-custom " %>
          </li>
          <li class="ml-3">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-custom" %>
          </li>
          <li class="ml-3">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-custom" %>
          </li>
        <% end %>
        <li class="ml-3">
          <%= render "layouts/search" %>
        </li>
      </ul>
    </div>
  </nav>
</header>