<header>
  <nav class="navbar navbar-expand-lg">
    <h1><%= link_to image_tag("asobinote_logo.png", alt: "Title Logo", size: "300x100"), "/" %></h1>
    <% if user_signed_in? %>
      ようこそ、<%= current_user.nickname %>さん！
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!--ユーザーがログインしている時 -->
          <li>
            <%= link_to "About", about_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "マイページ", users_my_page_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "遊び場一覧", playgrounds_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "新しい遊び場登録", new_playground_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %></li>
          </li>

        <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "遊び場一覧", admin_playgrounds_path, class: "btn btn-outline-dark" %>
            <!--customer一覧用パス入力-->
          </li>
          <li>
            <%= link_to "投稿一覧" , admin_posts_path, class: "btn btn-outline-dark" %>
            <!--order履歴一覧用パス入力-->
          </li>
          <li>
            <%= link_to "タグ一覧", admin_tags_path, class: "btn btn-outline-dark" %>
            <!--genre一覧-->
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
          </li>

        <% else %>
          <!-- ログインしていない時 -->
          <li>
            <%= link_to "About", about_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "ログイン", new_admin_session_path, class: "btn btn-outline-dark" %>
          </li>
        <% end %>
        <li>
          <%= render "layouts/search" %>
        </li>
      </ul>
    </div>
  </nav>
</header>