<!DOCTYPE html>
<html>
  <head>
    <title>Asobinote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4c2477e0ba.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- ヘッダー -->
      <%= render "layouts/header" %>

    <!-- Body部分 -->
    <div class="container min-vh-100">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= render "layouts/footer" %>
  </body>
</html>

